{
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/transform-async-to-generator",
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": false }]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "presets": [["@babel/react", { "development": true }]],
      "plugins": [
        [
          "flow-runtime",
          {
            "assert": true,
            "annotate": true
          }
        ]
      ]
    }
  }
}