.App {
    text-align: center;
    outline: none;
}

.App-logo-container {
    display: inline;
    height: 60%;
    animation: App-logo-spin infinite 20s linear;
}

.App-logo {
    animation: App-logo-spin infinite 10s linear reverse;
    animation-play-state: paused;
    height: 100%;
}

.App-logo.reverse {
    animation-play-state: running;
}

.App-header {
    background-color: #282c34;
    min-height: 200px;
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
